extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        
        h1 Woo Choi

        
        p.lead.text-light
          | Full Stack JavaScript Developer.

        
        .portfolio-bio
          p
            | In 2017, I've decided change my career to become a Front-end Developer.
            | My journey began and taking treehouse techdegree course helped me to grow as a developer. 
            | The program also taught me to have a better understanding in a programming aspect.
            | My experience in techdegree is outstanding and I'm confident in going further to reach my goal.
            
            
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        
        ul
          li HTML
          li CSS
          li JS
          li JQUERY
          li NODEJS
          li EXPRESS
        h6 Contact Info

        
        ul
          li wjckorea001@gmail.com

        
        a.button.expanded(href='https://www.linkedin.com/in/woo-choi-42362216b/' target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/wootangg' target="_blank") GitHub
        a.button.expanded(href='https://twitter.com/Wooboolous' target="_blank") Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  